.center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 17%;
    height: 3%;
    border: 1px solid;
    font-size: 18px;
}

button {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
